.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}
html {
  scroll-behavior: smooth;
}
header {
  background: linear-gradient(-45deg, #cc846e, #b86585, #7995a0, #89bbaf);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.logo img {
  width: 91px;
  height: 75px;
  transform: rotate(180deg);
}
menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 416px;
}
nav a {
  text-decoration: none;
  color: #191919;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  margin-right: 40px;
  transition: all 500ms ease;
}
nav a:hover {
  color: #467dc4;
}
.text-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.text-container img {
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
  border-radius: 50%;
}
.text {
  max-width: 555px;
  margin-top: 180px;
  padding-bottom: 201px;
}
.text h1 {
  color: #1d1d1d;
  font-family: "Montserrat";
  font-size: 28px;
  font-weight: 500;
}
.text p {
  font-family: "Montserrat";
  font-size: 18px;
  margin-top: 32px;
  margin-bottom: 39px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #1d1d1d;
}
.email {
  display: block;
  width: 180px;
  height: 54px;
  background-color: #467dc4;
  text-decoration: none;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 54px;
  text-align: center;
  position: relative;
  transition: all 500ms ease;
}
.email:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 54px;
  background: rgba(255, 255, 255, 0.3);
  transition: all 1s ease;
}
.email:hover:before {
  width: 100%;
}
.email:active {
  background: rgba(201, 199, 199, 0);
  color: hsl(200, 100%, 85%);
  box-shadow: inset 0 0 0 3px hsl(200, 53%, 54%);
}
.about-h3 {
  height: 22px;
  color: #191919;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
}
.about-p {
  max-width: 580px;
  font-family: Montserrat;
  text-align: center;
  color: darkslategrey;
  padding-top: 41px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.about-signature img {
  width: 223px;
  height: 57px;
  text-align: center;
  margin-top: 37px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.resume {
  display: block;
  width: 180px;
  height: 54px;
  background-color: #fafafa;
  border: 2px solid #467dc4;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 54px;
  text-align: center;
  position: relative;
  transition: all 500ms ease;
  margin: 0 auto;
}
.resume:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 54px;
  background: rgba(235, 233, 233, 0.3);
  transition: all 1s ease;
}
.resume:hover:before {
  width: 100%;
}
.resume:active {
  background: rgba(201, 199, 199, 0);
  color: hsl(200, 100%, 85%);
  box-shadow: inset 0 0 0 3px hsl(200, 53%, 54%);
}

#skills {
  transition: all 0.2s ease-in-out;
  transform: translate3d(0, 30px, 0);
  opacity: 0;
}
#skills.active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.works-load {
  background-color: #f5f5f5;
}
.works-load p {
  text-align: center;
  color: #8e8e8e;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 45px 0;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.works-load a:hover{
  color: #467dc4;
}
footer {
  background-color: #2b2b2b;
}
.contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0;
}
.contact-name {
  width: 155px;
  height: 18px;
  color: #bcbcbc;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
}
.contact-tel {
  max-width: 353px;
  color: #bcbcbc;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
}
.contact-mail {
  display: block;
  color: #bcbcbc;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 10px;
}
.github {
  display: block;
  margin-top: 10px;
}
.github img {
  width: 30px;
  height: 30px;
}

.wrapper-body {
  background: hsl(240, 7%, 65%);
  font-family: consolas;
}

.container {
  width: 1170px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  cursor: pointer;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  transform: translateY(0);
}

.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content img {
  max-width: 300px;
  height: 150px;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  text-transform: uppercase;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}

.menu2.active .menu-list {
  display: block;
}

.menu-list {
  display: none;
}

.menu-list a {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
}

.menu2 {
  display: none;
}

.conta {
  display: block;
  align-items: center;
  justify-content: flex-end;
}

.menu-icon {
  position: relative;
  max-width: 3.5rem;
  max-height: 2.125rem;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.menu-icon path {
  stroke: black;
  stroke-width: 5;
  stroke-linecap: round;
  transition: all 250ms ease-in-out;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  will-change: transform, opacity;
}

.menu-button:hover path,
.menu-button:focus path,
.menu-button:active path {
  stroke: hsl(200, 53%, 54%);
}

.menu-icon.is-active path:nth-child(1) {
  opacity: 0;
}

.menu-icon.is-active path:nth-child(4) {
  opacity: 0;
}

.menu-icon.is-active path:nth-child(2) {
  transform: rotate(45deg);
}

.menu-icon.is-active path:nth-child(3) {
  transform: rotate(-45deg);
}

/*.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: hsl(200, 53%, 54%);
  color: #444;
  cursor: pointer;
  border-radius: 2px;
  display: none;
}

.back_to_top:hover {
  background: #e9ebec;
}

.back_to_top-show {
  display: block;
}*/
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fbfbfb
    url("//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif")
    no-repeat center center;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

@media screen and (max-width: 890px){
  .container{
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 865px){
  .text-container img {
    margin-bottom: 10px;
  }
  .text {
    margin-top: 100px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 730px){
  .container{
    justify-content: center;
  }
}
@media screen and (max-width: 500px){
  .text-container img{
    width: 220px;
    height: 220px;
  }
  .about-h3{
    margin-top: 20px;
  }
}
@media screen and (max-width: 530px){
  menu nav { 
    display: none;
  }
  .menu2 {
    display: block;
  }
  .contact-tel{
    margin-top: 30px;
  }
}